body{
            max-width: 1300px;
            margin: 35px auto;
            background-color: #ECEEDF;
            font-family: cursive;
        }

        /**head**/
        .header{
            display: flex;
            gap: 10px;
        }
        .left-header, .right-header{
            border: 2px solid black;
            height: 90px;
            margin-bottom: 10px;
            background-color: #537D5D;
            border-radius: 8px;
            cursor: pointer;
        }
        .left-header{
            width: 350px;
        }
        .right-header{
            width: 950px;
        }

        /**body**/
        .body, .footer{
            display: flex;
            gap: 13px;
        }
        .box{
            border: 2px solid black;
            height: 500px;
            border-radius: 5px;
            padding: 15px;
            cursor: grab;
        }
        .kiri{
            width: 315px;
            background-color: #73946B;
        }
        .tengah{
            width: 410px;
            background-color: #73946B;
        }
        .kanan{
            width: 450px;
            background-color: #73946B;
        }
        .kiri:hover, .kanan:hover, .tengah:hover{
            background-color: #D2D0A0;
            transform: translateY(-3px);
        }

        /**footer**/
        .footer{
            border: 2px solid black;
            margin-top: 10px;
            height: 100px;
            border-radius: 5px;
            background-color: #9EBC8A;
        }