body{
            max-width: 1200px;
            margin: 35px auto;
            background-color: #D2D0A0;
            font-family: cursive;
        }
        .header{
            border: 2px solid black;
            height: 90px;
            margin-bottom: 30px;
            background-color: #B0CE88;
            border-radius: 10px;
            cursor: pointer;

            & h1{
            text-align: center;
            }
        }
        .top, .bottom{
            display: flex;
            gap: 42px;

            & p{
                text-align: justify;
                color: rgb(0, 0, 0);
            }
        }
        .box1{
            border: 2px solid black;
            margin-top: 10px;
            height: 200px;
            border-radius: 5px;
            padding: 15px;
            cursor: grab;
        }
        .kiri{
            width: 400px;
            background-color: #84994F;
        }
        .kanan{
            width: 750px;
            background-color: #658C58;
        }
        .kiri:hover, .kanan:hover{
            background-color: #8FA31E;
            transform: translateY(-3px);
        }